<div class="container">
	<div class="panel-heading">
   <div class="panel-title text-center">
 		<h1 class="title">Market Fresh</h1>
 		<hr/>
   </div>
  </div>
  <div class="main-login main-center">
	<div class="signin-container">
		
		<div id="output"></div>
		<div class="avatar"></div>
		<div class="form-box"></div>
		<form id="signup-form">
			<label for="name" class="cols-sm-2 control-label">Your Name</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				<input id="email" class="form-control" name="name" type="text" placeholder="email">
			</div>
			<label for="name" class="cols-sm-2 control-label">Email</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				<input id="email" class="form-control" name="email" type="text" placeholder="email">
			</div>
			<br>
			<label for="name" class="cols-sm-2 control-label">Password</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				<input id="email" class="form-control" name="password" type="text" placeholder="email">
			</div>
			<br>
			<label for="name" class="cols-sm-2 control-label">Confirm Password</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				<input id="email" class="form-control" name="confirm password" type="text" placeholder="email">
			</div>
			<br>
			<button class="btn btn-info btn-block signin" type="submit">sign in</button>
		</form>
		</div>
	</div>
</div>

	